
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body class="l-site">
  <div class="l-site__content ">
    <header class="c-header">
      <!-- <div class="c-header__logo"> -->
        <!-- <span>Sigma</span> -->
      <!-- </div> -->
      <div class="c-header__title">
        <h1> STROMATA </h1>
      </div>
    </header>
    <div class="c-banner">
    </div>

    <div class="c-nav">
      <div class="c-nav__ornaments">
      </div>
      <nav class=c-nav__navigation>
        <a class="c-nav__link" href="/">Úvod</a>
        <a class="c-nav__link" href="/autori">Autori</a>
        <a class="c-nav__link" href="/o-stranke">O stránke</a>
      </nav>
      <div class="c-nav__ornaments">
      </div>
    </div>

        {{{ body }}}

  </div>


  <script src="/public/libs/handlebars-v4.0.5.js"></script>
  <!-- <script src="/public/libs/handlebars.runtime-v4.0.5.js"></script> -->
  <!-- <script src="/public/libs/animations.js"></script> -->
  <!-- <script src="/public/js/main.js"></script> -->
  <script src="/public/js/main.js"></script>
  <script src="/public/js/tmp.js"></script>
  <!-- <script src="/public/js/displayImg.js"></script> -->

</body>
</html>
