{{#each item}}
  <div class="c-comment">
    <header class="c-comment__header">
      <p class="c-comment__name">{{name}}</p>
      <p class="c-comment__date">{{ date }}</p>
    </header>
    <p class="c-comment__body">{{body}}</p>
  </div>
{{/each}}
