
<div class="l-grid">
    <form action="/singup" method="post">
      <input type="text" name="username">
      <input type="password" name="password">
      <input type="submit" value="Log In"/>
    </form>

</div>
