@import url(http://fonts.googleapis.com/css?family=Playfair+Display:900|Josefin+Sans:400);
/*
   Sass Reset - Converted by Hampton Catlin
   A modification of the original found at...
   http://meyerweb.com/eric/tools/css/reset/
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: ''; }

.clearfix:after {
  clear: both; }

/* Example usage */
/*a {
  @include link-underline(#fff, #333, bold);
}*/
body {
  line-height: 1.4;
  color: #333; }

a {
  display: block;
  text-decoration: none;
  color: #333; }
  a:active, a:focus, a:hover {
    outline: 0; }

p {
  font-size: 1rem; }

h1 {
  font-size: 3.815rem;
  margin: 4.2rem 0 1.4rem;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333; }
  @media (max-width: 400px) {
    h1 {
      font-size: 3.052rem; } }

.l-site {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.l-site__content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 1000px;
  margin: 0 auto; }

.l-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 -1rem; }
  @media (max-width: 1000px) {
    .l-grid {
      margin: 0;
      padding: 0 1rem; } }

.l-1-3 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 33.333%;
      -ms-flex: 1 0 33.333%;
          flex: 1 0 33.333%;
  min-width: 13.5rem; }

.c-article {
  max-width: 40em;
  margin: 0 auto; }

.btn {
  width: 5em;
  padding: 0.5em 1em;
  border: 1px solid black;
  cursor: pointer;
  margin-top: 1em;
  text-align: center; }
  .btn:hover {
    color: white;
    background-color: black; }

.c-section__title {
  text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2196f3), to(#2196f3));
  background-image: -webkit-linear-gradient(#2196f3, #2196f3);
  background-image: linear-gradient(#2196f3, #2196f3);
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0% 95%;
  color: #2196f3;
  text-decoration: none;
  display: inline; }
  .c-section__title::-moz-selection {
    text-shadow: 0.03em 0 bold, -0.03em 0 bold, 0 0.03em bold, 0 -0.03em bold, 0.06em 0 bold, -0.06em 0 bold, 0.09em 0 bold, -0.09em 0 bold, 0.12em 0 bold, -0.12em 0 bold, 0.15em 0 bold, -0.15em 0 bold;
    background: bold; }
  .c-section__title::selection {
    text-shadow: 0.03em 0 bold, -0.03em 0 bold, 0 0.03em bold, 0 -0.03em bold, 0.06em 0 bold, -0.06em 0 bold, 0.09em 0 bold, -0.09em 0 bold, 0.12em 0 bold, -0.12em 0 bold, 0.15em 0 bold, -0.15em 0 bold;
    background: bold; }
  .c-section__title::-moz-selection {
    text-shadow: 0.03em 0 bold, -0.03em 0 bold, 0 0.03em bold, 0 -0.03em bold, 0.06em 0 bold, -0.06em 0 bold, 0.09em 0 bold, -0.09em 0 bold, 0.12em 0 bold, -0.12em 0 bold, 0.15em 0 bold, -0.15em 0 bold;
    background: bold; }
  .c-section__title *,
  .c-section__title *:after, .c-section__title:after,
  .c-section__title *:before, .c-section__title:before {
    text-shadow: none; }
  .c-section__title:visited {
    color: #2196f3; }

.title-margin {
  margin-left: 1rem; }
  @media (max-width: 400px) {
    .title-margin {
      margin-left: 0; } }

.c-section__link {
  margin-bottom: 1.4rem; }

.c-header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.c-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5.6rem; }

.c-nav__navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.c-nav__link {
  text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#333), to(#333));
  background-image: -webkit-linear-gradient(#333, #333);
  background-image: linear-gradient(#333, #333);
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0% 95%;
  color: #333;
  text-decoration: none;
  margin-left: 1em;
  -webkit-transition: all 0.22s;
  transition: all 0.22s; }
  .c-nav__link::-moz-selection {
    text-shadow: 0.03em 0 bold, -0.03em 0 bold, 0 0.03em bold, 0 -0.03em bold, 0.06em 0 bold, -0.06em 0 bold, 0.09em 0 bold, -0.09em 0 bold, 0.12em 0 bold, -0.12em 0 bold, 0.15em 0 bold, -0.15em 0 bold;
    background: bold; }
  .c-nav__link::selection {
    text-shadow: 0.03em 0 bold, -0.03em 0 bold, 0 0.03em bold, 0 -0.03em bold, 0.06em 0 bold, -0.06em 0 bold, 0.09em 0 bold, -0.09em 0 bold, 0.12em 0 bold, -0.12em 0 bold, 0.15em 0 bold, -0.15em 0 bold;
    background: bold; }
  .c-nav__link::-moz-selection {
    text-shadow: 0.03em 0 bold, -0.03em 0 bold, 0 0.03em bold, 0 -0.03em bold, 0.06em 0 bold, -0.06em 0 bold, 0.09em 0 bold, -0.09em 0 bold, 0.12em 0 bold, -0.12em 0 bold, 0.15em 0 bold, -0.15em 0 bold;
    background: bold; }
  .c-nav__link *,
  .c-nav__link *:after, .c-nav__link:after,
  .c-nav__link *:before, .c-nav__link:before {
    text-shadow: none; }
  .c-nav__link:visited {
    color: #333; }
  .c-nav__link:hover {
    text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2196f3), to(#2196f3));
    background-image: -webkit-linear-gradient(#2196f3, #2196f3);
    background-image: linear-gradient(#2196f3, #2196f3);
    background-size: 1px 1px;
    background-repeat: repeat-x;
    background-position: 0% 95%;
    color: #2196f3;
    text-decoration: none;
    color: #2196f3; }
    .c-nav__link:hover::-moz-selection {
      text-shadow: 0.03em 0 bold, -0.03em 0 bold, 0 0.03em bold, 0 -0.03em bold, 0.06em 0 bold, -0.06em 0 bold, 0.09em 0 bold, -0.09em 0 bold, 0.12em 0 bold, -0.12em 0 bold, 0.15em 0 bold, -0.15em 0 bold;
      background: bold; }
    .c-nav__link:hover::selection {
      text-shadow: 0.03em 0 bold, -0.03em 0 bold, 0 0.03em bold, 0 -0.03em bold, 0.06em 0 bold, -0.06em 0 bold, 0.09em 0 bold, -0.09em 0 bold, 0.12em 0 bold, -0.12em 0 bold, 0.15em 0 bold, -0.15em 0 bold;
      background: bold; }
    .c-nav__link:hover::-moz-selection {
      text-shadow: 0.03em 0 bold, -0.03em 0 bold, 0 0.03em bold, 0 -0.03em bold, 0.06em 0 bold, -0.06em 0 bold, 0.09em 0 bold, -0.09em 0 bold, 0.12em 0 bold, -0.12em 0 bold, 0.15em 0 bold, -0.15em 0 bold;
      background: bold; }
    .c-nav__link:hover *,
    .c-nav__link:hover *:after, .c-nav__link:hover:after,
    .c-nav__link:hover *:before, .c-nav__link:hover:before {
      text-shadow: none; }
    .c-nav__link:hover:visited {
      color: #2196f3; }

.c-preview {
  padding: 0 1rem 1.4rem; }
  @media (max-width: 400px) {
    .c-preview {
      padding-left: 0;
      padding-right: 0; } }

.c-preview__title {
  font-size: 1.563rem;
  color: black;
  line-height: 1;
  -webkit-transition: color 0.22s;
  transition: color 0.22s; }
  .c-preview__title:hover {
    color: #2196f3; }

.c-preview__author {
  margin-bottom: 0.7rem;
  font-size: 0.8rem; }

.c-form {
  max-width: 400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 1.4rem; }

.c-form__field {
  width: 100%;
  position: relative;
  background: white;
  border: 1px solid #333; }

.c-form__field:first-of-type {
  border-bottom: none; }

.c-form__field:last-of-type {
  margin-bottom: 1.4rem; }

.c-form__field > label {
  opacity: 0.3;
  position: absolute;
  font-weight: bold;
  top: 1.1em;
  left: 0.25em; }

.c-form__name, .c-form__text {
  width: 100%;
  border: 0;
  padding: 1.2rem;
  background: #eee; }

.c-form__field > input:focus,
.c-form__field > textarea:focus {
  outline: 0;
  background-color: white; }

.c-form__field > textarea:focus + label {
  opacity: 0; }

.c-form__field > input:invalid,
.c-form__field > textarea:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none; }

.c-article {
  padding: 0 1rem; }

.c-article__title {
  font-size: 1.953rem;
  margin-bottom: 0.7rem; }

.c-article__text {
  margin-bottom: 1.4rem; }

.c-article__subtitle {
  font-size: 1.25rem;
  color: black;
  margin-bottom: 0.35rem; }

.c-article__text:last-of-type {
  margin-bottom: 2.8rem; }

.c-article__comments, .c-article__btn {
  max-width: 400px;
  margin: 0 auto; }

.c-article__btn {
  width: 100%;
  text-align: center;
  cursor: pointer;
  border: 1px solid #2196f3;
  color: #2196f3;
  padding: 0.7rem 0;
  margin-bottom: 2.8rem;
  -webkit-transition: all 0.22s ease-in-out;
  transition: all 0.22s ease-in-out; }
  .c-article__btn:hover {
    color: white;
    background-color: #2196f3; }

.c-comment {
  margin-bottom: 2.8rem; }

.c-comment:last-of-type {
  margin-bottom: 2.8rem; }

.c-comment__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #999999; }

.c-comment__date {
  text-align: right;
  font-size: 0.8rem;
  color: #999999; }

.c-comment__body {
  padding: 0.7rem; }

.c-user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.c-user__register, .c-user__login {
  margin-right: 0.7rem;
  text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2196f3), to(#2196f3));
  background-image: -webkit-linear-gradient(#2196f3, #2196f3);
  background-image: linear-gradient(#2196f3, #2196f3);
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0% 95%;
  color: #2196f3;
  text-decoration: none;
  cursor: pointer; }
  .c-user__register::-moz-selection, .c-user__login::-moz-selection {
    text-shadow: 0.03em 0 bold, -0.03em 0 bold, 0 0.03em bold, 0 -0.03em bold, 0.06em 0 bold, -0.06em 0 bold, 0.09em 0 bold, -0.09em 0 bold, 0.12em 0 bold, -0.12em 0 bold, 0.15em 0 bold, -0.15em 0 bold;
    background: bold; }
  .c-user__register::selection, .c-user__login::selection {
    text-shadow: 0.03em 0 bold, -0.03em 0 bold, 0 0.03em bold, 0 -0.03em bold, 0.06em 0 bold, -0.06em 0 bold, 0.09em 0 bold, -0.09em 0 bold, 0.12em 0 bold, -0.12em 0 bold, 0.15em 0 bold, -0.15em 0 bold;
    background: bold; }
  .c-user__register::-moz-selection, .c-user__login::-moz-selection {
    text-shadow: 0.03em 0 bold, -0.03em 0 bold, 0 0.03em bold, 0 -0.03em bold, 0.06em 0 bold, -0.06em 0 bold, 0.09em 0 bold, -0.09em 0 bold, 0.12em 0 bold, -0.12em 0 bold, 0.15em 0 bold, -0.15em 0 bold;
    background: bold; }
  .c-user__register *,
  .c-user__register *:after, .c-user__register:after,
  .c-user__register *:before, .c-user__register:before, .c-user__login *,
  .c-user__login *:after, .c-user__login:after,
  .c-user__login *:before, .c-user__login:before {
    text-shadow: none; }
  .c-user__register:visited, .c-user__login:visited {
    color: #2196f3; }

.c-auth {
  display: block;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 150, 244, 0.7); }

.c-signup__form,
.c-login__form {
  min-width: 20em;
  padding: 0.5em;
  -webkit-box-shadow: 2px 2px 10px rgba(8, 89, 153, 0.8);
          box-shadow: 2px 2px 10px rgba(8, 89, 153, 0.8);
  background-color: white; }

.c-signup__title {
  width: 100%;
  text-align: center; }

.c-signup__container,
.c-login__container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0);
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center; }

.c-signup__field {
  position: relative;
  background: #fff;
  border-top: 1px solid #2196f3; }

.c-signup__close + .c-signup__field,
.c-login__close + .c-signup__field {
  border-top: none; }

.c-signup__field,
.c-signup__field > input[type="submit"] {
  max-width: 100%; }

.c-signup__field > input[type="text"],
.c-signup__field > input[type="password"] {
  width: 100%;
  border: 0;
  padding: 1em; }

.c-signup__field > input[type="text"]:focus,
.c-signup__field > input[type="password"]:focus {
  outline: 0; }

.c-signup__field > input[type="text"]:focus + label,
.c-signup__field > input[type="password"]:focus + label {
  display: none; }

.c-signup__field > input[type="text"]:valid + label,
.c-signup__field > input[type="password"]:valid + label {
  display: none; }

.c-signup__field > input[type="text"]:invalid,
.c-signup__field > input[type="password"]:invalid {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none; }

.c-signup__field > label {
  opacity: 0.3;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  left: 0; }

input[type="submit"] {
  display: block;
  width: -webkit-calc(100% + 1rem);
  width: calc(100% + 1rem);
  border: 0;
  cursor: pointer;
  font-size: 1.25em;
  padding: 0.5em;
  font-family: sans-serif;
  color: white;
  background-color: #2196f3;
  margin: 0 -.5rem -.5rem;
  -webkit-transition: background-color 0.22s ease-in-out;
  transition: background-color 0.22s ease-in-out; }
  input[type="submit"]:hover {
    background-color: #6ab8f7; }

.c-signup__message {
  padding: 1em;
  font-family: sans-serif;
  font-size: 0.9em;
  display: none;
  opacity: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
  border-top: 1px solid #2196f3; }

.c-signup__message svg {
  margin-right: 0.5rem; }

.c-signup__close,
.c-login__close {
  background-color: #2196f3;
  margin: -.5rem -.5rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: background-color 0.22s ease-in-out;
  transition: background-color 0.22s ease-in-out; }
  .c-signup__close:hover,
  .c-login__close:hover {
    background-color: #6ab8f7; }

.c-signup__close svg,
.c-login__close svg {
  cursor: pointer; }

.is-hidden {
  display: none; }
