.l-site
  display: flex
  min-height: 100vh
  flex-direction: column

.l-site__content
  flex: 1
  max-width: 900px
  margin: 0 auto

.l-grid
  display: flex
  flex-wrap: wrap

.l-1-3
  flex: 1 0 33.333%
  min-width: 12.5rem
  padding: 1rem
